@import './variables.scss';
@import './mixin.scss';

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
  /*格式所有元素边框*/
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html,
body{
  color: $font-color;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
  width: 100%;
  min-height: 100%;
}

#app{
  /*vue 最外层div*/
  width: 100%;
  min-height: 100%;
}

.app-container{
  /*app-layout 外层div*/
  width: 100%;
  min-height: 100%;
}

.layout-content{
  /*layout容器外层div*/
}

.layout-footer{
  /*layout footer 容器 div*/
}

.page-container{
  /*页面最外层div*/
  padding-bottom: 80px;
}

.body-container{
  padding-top: 50px;
}
