@import './variables.scss';
@import './mixin.scss';

html,
body{
  color: $font-color;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
  width: 100%;
  height: 100%;
}

#app{
  width: 100%;
  height: 100%;
}

.app-container{
  width: 100%;
  height: 100%;
}

.home-layout-content{
  margin-bottom: $content-margin-bottom;
}
